<!-- BEGIN: main -->


<div id="card">
		
       
        
       	  <h2>Cómo canjear tu Tarjeta OCESA Club Premier</h2>
          <h3>Procedimiento para registro en Ticketmaster</h3>
            
            <p>(Los primeros 16 dígitos son tu número de tu TARJETA OCESA CLUB PREMIER y  los últimos 4 dígitos son tu NIP)</p>
            <p>Si aún no estás registrado te recomendamos crear el día de hoy una cuenta en Mi  Ticketmaster, esto agilizará el proceso ya que no perderás tiempo capturando la  información.</p>
            	<ol>
              <li>Debes ingresar a <a href="http://www.ticketmaster.com.mx/">http://www.ticketmaster.com.mx/</a> y dar clic en la  sección de “Mi Ticketmaster” donde dice “Entra o crea tu cuenta”.</li>
             
              <li>Si aun no está registrado, da clic en CREA TU CUENTA.</li>
              
              <li>Ingresa los datos que te solicita.</li>
             <li>Da clic en aceptar y continuar.</li>
              
            </ol>
<h3>Procedimiento para canjear boletos  con la TARJETA OCESA CLUB PREMIER</h3>
  <ol>
    <li>Debes acceder a la página  www.ocesa.com.mx/clubpremier </li>
    <li>Elegir en el catalogo el evento al que deseas asistir redimiendo tu Tarjeta OCESA Club Premier</li>
     
    <li>Deberás dar clic en el botón <strong>CANJEA  TU TARJETA </strong>y te llevará a la página de Ticketmaster dónde podrás cambiar tu  boleto.</li>
     <li>Una vez que estés en la página, pon la cantidad de boletos a comprar, escoge  tus lugares o bien selecciona los mejores lugares disponibles y da clic en  busca tus boletos.</li>
      <li>Entraras a una pantalla donde solicita que escribas los numero que ahí  aparecen, colócalos y da clic en continuar.</li>
      <li>Aparecerá los detalles de tu compra, debes seleccionar método de entrega  TicketFast o bien el método de entrega de tu preferencia, poner 0 (cero) en  todas la promociones que ahí aparezcan y continuar.</li>
     <li>En la pantalla siguiente debes colocar tu correo electrónico registrado  previamente. En caso de no estar registrado ese momento puedes crear una  cuenta. Da aceptar y continuar.</li>
      <li>Aparece nuevamente los detalles de la compra, aquí debes seleccionar la  opción de <strong>TARJETA DE REGALO</strong> e  ingresar   el número de tu Tarjeta OCESA Club Premier, los primeros 16 dígitos  son el número de tarjeta, los últimos 4 son tu NIP del certificado.</li>
      <li>En caso  que tus puntos no cubran el cargo total del costo de los boletos, será  necesario que cubras el resto con una tarjeta de crédito.</li>
      <li>Una vez que hayas ingresado todos los datos para el pago de los boletos, el  sistema te pedirá nuevamente tus datos para verificar la información del  usuario.</li>
  <li>Seleccionar el recuadro de “Acepto los términos y condiciones” y dar clic  en enviar orden.</li>
  <li>Recibirás un correo de parte de Ticketmaster con la confirmación de tu  compra. </li>
   
  </ol>
              
                     
</div>
    
<!-- END: main -->