<!-- BEGIN: main -->


<div id="card" style="font-size:14px">
		
       
        
       	  <h2>Procedimiento para canjear boletos con la Tarjeta OCESA Club Premier</h2>
			<img src="{__SITE_URL__}/images/ct-card.png" align="right" alt="Tarjeta">
		   <p>
           	(Los primeros 16 d&iacute;gitos son tu n&uacute;mero de tu TARJETA OCESA CLUB PREMIER y los &uacute;ltimos 4 d&iacute;gitos son tu NIP)
           </p>
           <p>
				
           	1.	Elige del cat&aacute;logo, el evento al que deseas asistir redimiendo tu Tarjeta OCESA Club Premier.
				<br>
				2.	Da clic en el bot&oacute;n CANJEA TU TARJETA y te llevar&aacute; a la p&aacute;gina en la que podr&aacute;s comprar tus boletos.
				<br>
				3.	Una vez que est&eacute;s en la p&aacute;gina, elige la fecha del evento al que deseas asistir, 
				define la cantidad de boletos a comprar, escoge tus lugares o bien selecciona los mejores lugares disponibles 
				y da clic en Busca tus boletos. Escribe los n&uacute;meros que ah&iacute; aparecen y da clic en Continuar.
				<br>
				4.	Aparecer&aacute;n los detalles de tu compra, debes seleccionar m&eacute;todo de entrega de tu preferencia, 
				poner 0 (cero) en todas la promociones que ah&iacute; aparezcan y Continuar.
				<br>
				5.	En la pantalla siguiente, ingresa tu correo electr&oacute;nico registrado previamente. 
				En caso de no estar registrado al momento puedes crear una cuenta, da clic en Aceptar y Continuar.
				<br>
				6.	Nuevamente aparecer&aacute;n los detalles de la compra, ahora selecciona la opci&oacute;n de TARJETA DE REGALO 
				e ingresa el n&uacute;mero de tu Tarjeta OCESA Club Premier: los primeros 16 d&iacute;gitos son el n&uacute;mero de tarjeta, 
				los &uacute;ltimos 4 son tu NIP.
				<br>
				7.	En caso de que tu saldo no cubra el costo total de tus boletos, ser&aacute; necesario que cubras la diferencia con una tarjeta de cr&eacute;dito.
				<br>
				8.	Una vez que hayas ingresado todos los datos para el pago de tus boletos, el sistema te pedir&aacute; nuevamente tus datos 
				para verificar la informaci&oacute;n de usuario.
				<br>
				9. Seleccionar el recuadro de &quot;Acepto los t&eacute;rminos y condiciones&quot; y da clic en Enviar orden.
				<br>
				10. Finalmente, recibir&aacute;s un correo con la confirmaci&oacute;n de tu compra.
				<br>
				<br>
				<br>
				<br>
           </p>
    
<!-- END: main -->
