<!-- BEGIN: main -->

    <script>
        var status_code = {__STATUS__};
    </script>
<div class="codes_triden">
	

		<!-- BEGIN: trident -->
			<h2>Cómo canjear tus códigos Trident<span class="trident_r">®</span></h2>

			<ol>
				<li>Elige del catálogo, el evento al que deseas asistir redimiendo tu código Trident<span class="trident_r">®</span>.</li>
				<li>Da clic en el botón Canjea tus códigos Trident<span class="trident_r">®</span>  para este evento y te llevará a la página de Ticketmaster en la que podrás canjear tus códigos para comprar tus boletos.</li>
				<li>Una vez que estés en la página, elige la fecha del evento al que deseas asistir, define la cantidad de boletos a comprar, escoge tus lugares y da clic en Busca tus boletos. Escribe el código que ahí aparece y da clic en Continuar.</li>
				<li>Se desplegarán los detalles de tu compra, debes seleccionar método de entrega de tu preferencia, poner 0 (cero) en todas la promociones que ahí aparezcan y Continuar. </li>
				<li>En la pantalla siguiente, será necesario loguearte en Ticketmaster, para ello deberás estar registrado previamente. En caso de no estar registrado al momento puedes crear una cuenta, da clic en Aceptar y Continuar.</li>
				<li>Nuevamente aparecerán los detalles de la compra, ahora selecciona la opción de TARJETA DE REGALO e ingresa el Código Trident<span class="trident_r">®</span> que te genero la plataforma.</li>


				

				<li>En caso de que el saldo de tu código no cubra el costo total de tus boletos, selecciona otro código de tu lista o si ya no tienes más códigos disponibles será necesario cubrir la diferencia con una tarjeta de crédito.</li>
				<li>Una vez que hayas ingresado todos los datos para el pago de tus boletos, el sistema te pedirá nuevamente tus datos para verificar la información de usuario.</li>
				<li>Selecciona el recuadro de "Acepto los términos y condiciones" y da clic en Enviar orden.</li>
				<li>Finalmente, recibirás un correo de Ticketmaster con la confirmación de tu compra.</li>

			</ol>


			<p> <strong>El canje de códigos Trident<span class="trident_r">®</span> solo es para eventos operados por OCESA y a través de la página www.trident.ocesa.com.mx. Consulta los <a href="{__SITE_URL__}index.php?section=policy">términos y condiciones</a>.</strong> </p>



			<br>
	      	<br>
	      	<br>
	      	<br>
	      	<br>
	      	<br>
	      	<br>
	      	<br>

	      	<br>
	      	<br>
	      	<br>
	      	<br>
	      	<br>
	      	<br>


		<!-- END: trident -->	 

</div>   
  
  
<!-- END: main -->