<!-- BEGIN: main -->

		<!-- BEGIN: event -->
        <div class="event {__NOMARGIN_RIGHT__}">
        	<div class="picture" style="background: #000000 url({__EVENT_COVER__}) center {__COVER_POSITION__} no-repeat;"><a href="{__EVENT_PATH__}{__EVENT_ALIAS__}/"></a></div>
            <div class="info_event">
            	<div class="name"><a href="{__EVENT_PATH__}{__EVENT_ALIAS__}/">{__EVENT_NAME__}</a></div>
	            <div class="date">{__DATE_DAY__} de {__DATE_MONTH__} <strong>{__DATE_TIME__} hrs</strong></div>
				<div class="place">{__EVENT_PLACE__}</div>
                <!-- BEGIN: count -->
                   <div class="more_dates"><a href="{__EVENT_PATH__}{__EVENT_ALIAS__}/">Ver más fechas</a> 
                    <a href="{__EVENT_PATH__}{__EVENT_ALIAS__}/" class="dates-count">{__DATES_COUNT__}</a></div> 
                 <!-- END: count -->
               
            </div>
                
            <div class="more">
                <a href="{__EVENT_PATH__}{__EVENT_ALIAS__}/" class="btn-more-left"> + </a> 
                <a href="{__EVENT_PATH__}{__EVENT_ALIAS__}/" class="btn-more-right"> m&aacute;s</a>
            </div>
        </div>
        <!-- END: event -->
        
        <!-- BEGIN: theater -->
            <div class="event {__NOMARGIN_RIGHT__}">
                <div class="picture" style="background: #000000 url({__SITE_URL__}images/teatro/15052013134606.png) center no-repeat;"><a href="http://www.ticketmaster.com.mx/Mentiras-boletos/artist/1782439" target="_blank"></a></div>
                <div class="info_event">
                    <div class="name"><a href="http://www.ticketmaster.com.mx/Mentiras-boletos/artist/1782439" target="_blank">Mentiras</a></div>
                </div>
                    
                <div class="more">
                    <a href="http://www.ticketmaster.com.mx/Mentiras-boletos/artist/1782439" class="btn-more-left" target="_blank"> + </a> 
                    <a href="http://www.ticketmaster.com.mx/Mentiras-boletos/artist/1782439" class="btn-more-right" target="_blank"> m&aacute;s</a>
                </div>
            </div>


            <div class="event {__NOMARGIN_RIGHT__}">
                <div class="picture" style="background: #000000 url({__SITE_URL__}images/teatro/15052013134608.png) center no-repeat;"><a href="http://www.ticketmaster.com.mx/Toc-Toc-boletos/artist/1774108" target="_blank"></a></div>
                <div class="info_event">
                    <div class="name"><a href="http://www.ticketmaster.com.mx/Toc-Toc-boletos/artist/1774108" target="_blank">Toc Toc</a></div>
                </div>
                    
                <div class="more">
                    <a href="http://www.ticketmaster.com.mx/Toc-Toc-boletos/artist/1774108" class="btn-more-left" target="_blank"> + </a> 
                    <a href="http://www.ticketmaster.com.mx/Toc-Toc-boletos/artist/1774108" class="btn-more-right" target="_blank"> m&aacute;s</a>
                </div>
            </div>

            <div class="event {__NOMARGIN_RIGHT__}">
                <div class="picture" style="background: #000000 url({__SITE_URL__}images/teatro/15052013134607.png) center no-repeat;"><a href="http://www.ticketmaster.com.mx/Los-Monologos-de-la-Vagina-boletos/artist/1783706"></a></div>
                <div class="info_event" target="_blank">
                    <div class="name"><a href="http://www.ticketmaster.com.mx/Los-Monologos-de-la-Vagina-boletos/artist/1783706" target="_blank">Los monólogos de la vagina</a></div>
                </div>
                    
                <div class="more">
                    <a href="http://www.ticketmaster.com.mx/Los-Monologos-de-la-Vagina-boletos/artist/1783706" class="btn-more-left" target="_blank"> + </a> 
                    <a href="http://www.ticketmaster.com.mx/Los-Monologos-de-la-Vagina-boletos/artist/1783706" class="btn-more-right" target="_blank"> m&aacute;s</a>
                </div>
            </div>

            <div class="event {__NOMARGIN_RIGHT__}">
                <div class="picture" style="background: #000000 url({__SITE_URL__}images/teatro/15052013134602.png) center no-repeat;"><a href="http://www.ticketmaster.com.mx/El-Pelon-en-sus-tiempos-de-colera-boletos/artist/1774106" target="_blank"></a></div>
                <div class="info_event">
                    <div class="name"><a href="http://www.ticketmaster.com.mx/El-Pelon-en-sus-tiempos-de-colera-boletos/artist/1774106" target="_blank">El Pelón en sus tiempos de cólera</a></div>
                </div>
                    
                <div class="more">
                    <a href="http://www.ticketmaster.com.mx/El-Pelon-en-sus-tiempos-de-colera-boletos/artist/1774106" class="btn-more-left" target="_blank"> + </a> 
                    <a href="http://www.ticketmaster.com.mx/El-Pelon-en-sus-tiempos-de-colera-boletos/artist/1774106" class="btn-more-right" target="_blank"> m&aacute;s</a>
                </div>
            </div>

            <div class="event {__NOMARGIN_RIGHT__}">
                <div class="picture" style="background: #000000 url({__SITE_URL__}images/teatro/15052013134601.png) center no-repeat;"><a href="http://www.ticketmaster.com.mx/Defendiendo-a-la-Mujer-Cavernicola-boletos/artist/1858938?brand=tm&tm_link=tm_artist_rv_viewed1_name" target="_blank"></a></div>
                <div class="info_event">
                    <div class="name"><a href="http://www.ticketmaster.com.mx/Defendiendo-a-la-Mujer-Cavernicola-boletos/artist/1858938?brand=tm&tm_link=tm_artist_rv_viewed1_name" target="_blank">Defendiendo a la mujer cavernícola</a></div>
                </div>
                    
                <div class="more">
                    <a href="http://www.ticketmaster.com.mx/Defendiendo-a-la-Mujer-Cavernicola-boletos/artist/1858938?brand=tm&tm_link=tm_artist_rv_viewed1_name" class="btn-more-left" target="_blank"> + </a> 
                    <a href="http://www.ticketmaster.com.mx/Defendiendo-a-la-Mujer-Cavernicola-boletos/artist/1858938?brand=tm&tm_link=tm_artist_rv_viewed1_name" class="btn-more-right" target="_blank"> m&aacute;s</a>
                </div>
            </div>




        <!-- END: theater -->
        
<!-- END: main -->
