<!-- BEGIN: main -->

<script type="text/javascript">
	var status_code = {__STATUS__};
</script>
<div id="login">

	<form id="form-login" method="post" name="frmLogin" action="{__SITE_URL__}index.php?action=updatePassword&option=editPassword" >

			


	
		<div class="required">
			<!--[if lt IE 9]>		
					<label class="laber-ie"> Contraseña actual</label> 	
			<![endif]-->
			<label for="password_1">
				<input type="password" name="password_1" id="password_1" placeholder="Contraseña actual"> 
			</label> 
		</div>

		<div class="required new_password">
			<!--[if lt IE 9]>		
					<label class="laber-ie">Nueva contraseña</label> 	
			<![endif]-->
			<label for="password_2"> 
				<input type="password" name="password_2" id="password_2" placeholder="Nueva contraseña"> 
			</label> 
		</div>

		<div class="required new_password">
			<!--[if lt IE 9]>		
					<label class="laber-ie"> Verificar contraseña</label> 	
			<![endif]-->
			<label for="password_3">
				<input type="password" name="password_3"  id="password_3" placeholder="Verificar contraseña"> 
			</label> 
		</div>

		<div class="btn-login">
			<p class="label-join"><a href="javascript: void(0);" onclick="document.frmLogin.submit();">Guardar</a></p>
		</div>
	
	</form>   

</div>   


<!-- END: main -->
