<!-- BEGIN: main -->

<div id="player">

    <object width="{__WIDTH__}" height="{__HEIGHT__}"><param name="movie" value="http://www.youtube.com/v/{__YOUTUBE__}?version=3&amp;hl=es_ES"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><param name="wmode" value="transparent"></param><embed src="http://www.youtube.com/v/{__YOUTUBE__}?version=3&amp;hl=es_ES" type="application/x-shockwave-flash" width="{__WIDTH__}" height="{__HEIGHT__}" allowscriptaccess="always" allowfullscreen="true" wmode="transparent"></embed></object>

</div>

<!-- END: main -->