@charset "utf-8";
/* Event Style */

#card{
	width: 890px;
	height: auto;
	margin: 10px auto 0 auto;
}


#card h2 { font-size:30px; line-height:32px; margin: 30px 0 0 0; color:#3e3e3e;}
#card h3 { font-size:20px; line-height:22px; margin: 20px 0 0 0; color:#3e3e3e;}

#card p{
	margin: 20px 0 0 0!important;
}

#card ol{
	margin: 20px 0 0 30px;
}

#card ol li{
	list-style: decimal;
}